<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div class="content" role="main">
  <div class="container" id="mainContent" appReadTime (readTimeCalculated)="onReadTimeCalculated($event)">

  <h4>Read Time = {{readTime}}</h4>
  <p class="text-content">
    INDIAN CAMP

    At the lake shore there was another rowboat drawn up. The
    two Indians stood waiting.

    Nick and his father got in the stern of the boat and the
    Indians shoved it off and one of them got in to row. Uncle
    George sat in the stern of the camp rowboat. The young
    Indian shoved the camp boat off and got in to row Uncle
    George.

    The two boats started off in the dark. Nick heard the oar-
    locks of the other boat quite a way ahead of them in the mist.
    The Indians rowed with quick choppy strokes. Nick lay back
    with his father's arm around him. It was cold on the water.
    The Indian who was rowing them was working very hard,
    but the other boat moved farther ahead in the mist all
    the time.

    'Where are we going, Dad? 5 Nick asked.

    'Over to the Indian camp. There is an Indian lady very
    sick.'

    'Oh, 5 said Nick.

    Across the bay they found the other boat beached. Uncle
    George was smoking a cigar in the dark. The young Indian

    95



    96 INDIAN CAMP

    pulled the boat way up on the beach. Uncle George gave
    both the Indians cigars.

    They walked up from the beach through a meadow that
    was soaking wet with dew, following the young Indian who
    carried a lantern. Then they went into the woods and fol-
    lowed a trail that led to the logging road that ran back into
    the hills. It was much lighter on the logging road as the
    timber was cut away on both sides. The young Indian
    stopped and blew out his lantern and they all walked on
    along the road.

    They came around a bend and a dog came out barking.
    Ahead were the lights of the shanties where the Indian bark-
    peelers lived. More dogs rushed out at them. The two
    Indians sent them back to the shanties. In the shanty nearest
    the road there was a light in the window. An old woman
    stood in the doorway holding a lamp.

    Inside on a wooden bunk lay a young Indian woman. She
    had been trying to have her baby for two days. All the old
    women in the camp had been helping her. The men had
    moved off up the road to sit in the dark and smoke out of
    range of the noise she made. She screamed just as Nick and
    the two Indians followed his father and Uncle George into
    the shanty. She lay in the lower bunk, very big under a
    quilt. Her head was turned to one side. In the upper bunk
    was her husband. He had cut his foot very badly with an
    axe three days before. He was smoking a pipe. The room
    smelled very bad.

    Nick's father ordered some water to be put on the stove,
    and while it was heating he spoke to Nick.

    'This lady is going to have a baby, Nick,' he said.

    'I know,' said Nick.

    'You don't know,' said his father. 'Listen to me. What she
    is going through is called being in labour. The baby wants
    to be born and she wants it to be born. All her muscles are
    trying to get the baby born. That is what is happening when
    she screams.'



    INDIAN CAMP 97

    'I see,' Nick said.

    Just then the woman cried out.

    'Oh, Daddy, can't you give her something to make her
    stop screaming?' asked Nick. m

    'No. I haven't any anaesthetic,' his father said. 'But her
    screams are not important. I don't hear them because they
    are not important.'

    The husband in the upper bunk rolled over against the wall.

    The woman in the kitchen motioned to the doctor that the
    water was hot. Nick's father went into the kitchen and
    poured about half of the water out of the big kettle into a
    basin. Into the water left in the kettle he put several things
    he unwrapped from a handkerchief.

    'Those must boil,' he said, and began to scrub his hands in
    the basin of hot water with a cake of soap he had brought
    from the camp. Nick watched his father's hands scrubbing
    each other with the soap. While his father washed his hands
    very carefully and thoroughly, he talked.

    'You see, Nick, babies are supposed to be born head first,
    but sometimes they're not. When they're not they make a
    lot of trouble for everybody. Maybe I'll have to operate on
    this lady. We'll know in a little while.'

    When he was satisfied with his hands he went in and went
    to work.

    'Pull back that quilt, will you, George?' he said. 'I'd
    rather not touch it.'

    Later when he started to operate Uncle George and three
    Indian men held the woman still. She bit Uncle George on
    the arm and Uncle George said, 'Damn squaw bitch!' and
    the young Indian who had rowed Uncle George over laughed
    at him. Nick held the basin for his father. It all took a long
    time.

    His father picked the baby up and slapped it to make it
    breathe and handed it to the old woman.

    'See, it's a boy, Nick, 5 he said. 'How do you like being an
    interne?'



    98 INDIAN CAMP

    Nick said, 'All right'. He was looking away so as not to
    see what his father was doing.

    'There. That gets it,' said his father and put something
    ittto the basin.

    Nick didn't look at it.

    'Now,' his father said, 'there's some stitches to put in. You
    can watch this or not, Nick, just as you like. I'm going to
    sew up the incision I made.'

    Nick did not watch. His curiosity had been gone for a long
    time.

    His father finished and stood up. Uncle George and the three
    Indian men stood up. Nick put the basin out in the kitchen.

    Uncle George looked at his arm. The young Indian smiled
    reminiscently.

    'I'll put some peroxide on that, George,' the doctor said.

    He bent over the Indian woman. She was quiet now and
    her eyes were closed. She looked very pale. She did not
    know what had become of the baby or anything.

    'I'll be back in the morning,' the doctor said, standing up.
    'The nurse should be here from St. Ignace by noon and she'll
    bring everything we need.'

    He was feeling exalted and talkative as football players are
    in the dressing room after a game.

    'That's one for the medical journal, George,' he said.
    'Doing a Caesarian with a jack-knife and sewing it up with
    nine-foot, tapered gut leaders.'

    Uncle George was standing against the wall, looking at his
    arm.

    'Oh, you're a great man, all right,' he said.

    'Ought to have a look at the proud father. They're usually
    the worst sufferers in these little affairs,' the doctor said. 'I
    must say he took it all pretty quietly.'

    He pulled back the blanket from the Indian's head. His
    hand came away wet. He mounted on the edge of the lower
    bunk with the lamp in one hand and looked in. The Indian
    lay with his face toward the wall. His throat had been cut



    INDIAN CAMP 99

    from ear to ear. The blood had flowed down into a pool
    where his body sagged the bunk. His head rested on his left
    arm. The open razor lay, edge up, in the blankets.

    'Take Nick out of the shanty, George,' the doctor said.

    There was no need of that. Nick, standing in the- door of
    the kitchen, h*ad a good view of the upper bunk when his
    father, the lamp in one hand, tipped the Indian's head back.

    It was just beginning to be daylight when they walked
    along the logging road back toward the lake.

    'I'm terribly sorry I brought you along, Nickie,' said his
    father, all his post-operative exhilaration gone. 'It was an
    awful mess to put you through.'

    'Do ladies always have such a hard time having babies?'
    Nick asked.

    'No, that was very, very exceptional.'

    'Why did he kill himself, Daddy?'

    T don't know, Nick. He couldn't stand things, I guess.'

    'Do many men kill themselves, Daddy?'

    'Not very many, Nick.'

    'Do many women?'

    'Hardly ever.'

    'Don't they ever?'

    'Oh, yes. They do sometimes.'

    'Daddy?'

    'Yes.'

    'Where did Uncle George go?'

    'He'll turn up all right.'

    'Is dying hard, Daddy?'

    'No, I think it's pretty easy, Nick. It all depends.'

    They were seated in the boat, Nick in the stern, his father
    rowing. The sun was coming up over the hills. A bass
    jumped, making a circle in the water. Nick trailed his hand
    in the water. It felt warm in the sharp chill of the morning.

    In the early morning on the lake sitting in the stern of the
    boat with his father rowing, he felt quite sure that he would
    never die.
  </p>
  </div>


</div>

